#container {
    width: 1000px;
    margin: 50px auto;
	padding: 5px;
	border-radius: 5px;
}

#content {
    float:left;
    width:500px;
}

#sidebar {
    float:left;
    width:500px;
}

#footer {
    clear:both;
	text-align: center;
}

.section {
	margin: 5px;
	padding: 5px;
	background-color: #ccc;
	margin-bottom: 10px;
	border-radius: 5px;
}

div.line {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Georgia;
	font-size: 18px;
}

div.linetitle {
	font-weight: bold;
	width: 150px;
	text-align: right;
	float: left;
	margin: 0 2px auto;
}

div.linecontent {
	padding-left: 10px;
	border-left: 3px solid #555;
	text-align: left;
	text-decoration: none;
	margin: 3px 2px 0 160px;
}

div.image {
	margin: 0 5px 0 15px;
	width: 150px;
	float: left;
}

div.name {
	font-size: 35px;
	font-family: Georgia;
	margin: 0 10px 0 160px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-left: 3px solid #555;
	height: 124px;
}

.rule {
	width: 100%;
	clear: both;
}
	
a {text-decoration:none;}
a:hover {text-decoration:underline;}
a:link {color:black;}
a:visited {color:black;}
a:active {color:black;}

#footer {
	font-family: Georgia;
	font-size: 16px;
	background-color: #999;	
	border-radius: 5px;
	margin: 10px 0 5px 5px;
	padding: 10px;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;

}
